{% extends 'frontbase.html.twig' %}

{% block title %} Login - {{ data[0].title }} {% endblock %}
{% block keywords %} {{ data[0].keywords }} {% endblock %}
{% block description %} {{ data[0].description }} {% endblock %}
{% block sidebar %} {{ include('home/_sidebar.html.twig') }} {% endblock %}

{% block content %}






    <div class="shop">
        <div class="container">




            <!-- Shop Content -->



            <div class="single_post">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2"><br><br><br>
                            <div class="single_post_title"></div><br>
                            <div class="single_post_text">

                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <p>Kullanıcı Adı: {{ app.user.name }}</p>
                                    <p>Email: {{ app.user.email }}</p>
                                {% else %}
                                    Login olunmadı


                                    <form method="post" >
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}

                                        <h1 class="h3 mb-3 font-weight-normal">Lütfen Giriş Yapınız</h1>
                                        <label for="inputEmail" class="sr-only">Email</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus><br>
                                        <label for="inputPassword" class="sr-only">Şifre</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required><br>

                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"
                                        >

                                        {#
                                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                            See https://symfony.com/doc/current/security/remember_me.html

                                            <div class="checkbox mb-3">
                                                <label>
                                                    <input type="checkbox" name="_remember_me"> Remember me
                                                </label>
                                            </div>
                                        #}

                                        <button class="btn btn-lg btn-primary" type="submit">
                                            Giriş Yap
                                        </button><br>
                                    </form><br>
                                    <a href="{{ path('new_user') }}">Üye Ol</a>
                                    <br>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>




            <!-- Shop Page Navigation -->



        </div>

    </div>


{% endblock %}
