
<form class="form-horizontal" method="post">
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="email_address_2">Kategorisi</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <select name="product[category_id]" class="form-control">
                            {% if (catname) %}
                            <option value="{{ product.categoryid }}">{{ catname[0].title }}</option>
                            {% endif %}
                        {% for cat in catlist %}
                            <option value="{{ cat.id }}">{{ cat.title }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="email_address_2">Title(Başlık)</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input type="text"  name="product[title]" value="{{ product.title }}" class="form-control" placeholder="Title gir">
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label >Anahtar Kelimeler</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" name="product[keywords]" value="{{ product.keywords }}"  class="form-control" placeholder="Anahtar Kelime gir">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label >Description(Kısa Açıklama)</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" name="product[description]" value="{{ product.description }}"  class="form-control" placeholder="Açıklama gir">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label >Alış Fiyatı</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" name="product[price]" value="{{ product.price }}"  class="form-control" placeholder="Alış fiyatı gir">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label >Satış Fiyatı</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" name="product[sprice]" value="{{ product.sprice }}"  class="form-control" placeholder="Satış fiyatı gir">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label >Miktar</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" name="product[amount]" value="{{ product.amount }}"  class="form-control" placeholder="Miktar gir">
                </div>
            </div>
        </div>
    </div>



    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label >Aktif Durumu</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line ">
                    <select name="product[status]" class="form-control">
                        <option>{{ product.status }}</option>
                        <option>True</option>
                        <option>False</option>

                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label >Detay</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
                <div class="form-line">
                    <textarea id="detail" name="product[detail]" value="{{ product.detail }}" rows="10" cols="100" class="form-control" placeholder="Detayları gir"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
            <input type="submit" class="btn btn-primary m-t-15 waves-effect" value="kaydet">
        </div>
    </div>
</form>

<script>
    ClassicEditor
        .create( document.querySelector( '#detail' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

